@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

/*================================Подключение шрифтов===================================*/
@font-face {
  font-family: "MullerBold";
  src: url("../assets/fonts/MullerBold.ttf");
}

@font-face {
  font-family: "Muller Light Italic";
  src: url("../assets/fonts/MullerLightItalic.ttf");
}

@font-face {
  font-family: "Muller Light";
  src: url("../assets/fonts/MullerLight.ttf");
}

/*================================Верхний блок===================================*/
.top__section {
  position: relative;
  height: 970px;
}

@media (max-width: 900px) {
  .top__section {
    height: 670px;
  }
}

@media (max-width: 600px) {
  .top__section {
    height: 830px;
  }
}

@media (max-width: 570px) {
  .top__section {
    height: 793px;
  }
}

@media (max-width: 540px) {
  .top__section {
    height: 754px;
  }
}

@media (max-width: 450px) {
  .top__section {
    height: 730px;
  }
}

@media (max-width: 430px) {
  .top__section {
    height: 695px;
  }
}

.top__section.active {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100vh;
}

.top__container {
  background: url("../assets/img/top_bakground.png") 0 -40px/100% no-repeat;
  height: 847px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-position-x: center;
  background-size: auto 847px;
}

.top__container.active {
  background: url("../assets/img/top_bakground.png") 0 2px/100% no-repeat;
  background-size: auto 100vh;
  height: 100%;
}

@media (max-width: 900px) {
  .top__container {
    height: 670px;
    background: url("../assets/img/top_bakground.png") 0 -343px/100% no-repeat;
    background-position-x: center;
    background-size: auto 847px;
  }
}

@media (max-width: 600px) {
  .top__container {
    height: 100%;
    background: url("../assets/img/top__background3.png") 0 0/100% no-repeat;
    background-position-x: center;
  }
}

@media (max-width: 400px) {
  .top__container {
    background-size: auto 572px;
  }
}

.top__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

@media (max-width: 900px) {
  .top__body {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.top__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "MullerBold";
  font-size: 100px;
  color: #001e4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__title p {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 50px 50px 20px 50px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .top__title {
    font-size: 60px;
  }
}

@media (max-width: 900px) {
  .top__title {
    display: none;
  }
}

.top__menu_container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 900px) {
  .top__menu_container {
    display: none;
  }
}

.top__menu_container ul {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.top__menu_container li {
  font-family: "MullerBold";
  font-size: 22px;
  color: #ffffff;
  background-color: #001e4c;
  padding: 20px 30px 10px 40px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  width: 265px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.top__menu_container li:hover {
  width: 300px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1200px) {
  .top__menu_container li {
    font-size: 20px;
  }
}

.top__submenu_container {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #001e4c;
  height: 100vh;
  padding: 150px 40px 20px 40px;
}

.top__submenu_container.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__submenu_item {
  width: 300px;
}

.top__submenu_text {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top__submenu_text.active {
  display: none;
}

.top__submenu_text p {
  text-align: end;
  color: #ffffff;
  font-family: "MullerBold";
  font-size: 23px;
  margin: 0 0 20px 0;
}

.top__submenu_text p:last-child {
  font-family: "Muller Light";
}

.top__submenu_title {
  font-family: "MullerBold";
  font-size: 21px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding: 0 0 3px 15px;
  cursor: pointer;
  position: relative;
  margin: 7px 0 0 0;
}

.top__submenu_title:after {
  content: "";
  top: 40%;
  right: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  width: 15px;
  height: 1px;
}

.top__submenu_title:before {
  content: "";
  top: 40%;
  right: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  width: 15px;
  height: 1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.top__submenu_title.active:before {
  opacity: 0;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.top__submenu_subtitle {
  font-family: "Muller Light";
  font-size: 21px;
  color: #ffffff;
  padding: 15px 0 15px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  display: none;
}

.top__submenu_subtitle:last-child {
  border-bottom: none;
}

.top__submenu_subtitle li {
  margin: 15px 0;
}

.top__submenu_subtitle li:first-child {
  margin: 0 0 15px 0;
}

.top__submenu_subtitle li a {
  color: #ffffff;
}

.menu__link.active {
  width: 300px;
}

.menu__burger {
  top: 30px;
  right: 5%;
  display: block;
  width: 60px;
  padding: 5px;
  background-color: #14234c;
  height: 45px;
  margin: 0;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.menu__burger:hover {
  background-color: rgba(20, 35, 76, 0.7);
  width: 65px;
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.menu__burger span {
  position: absolute;
  background-color: white;
  width: 35px;
  height: 5px;
  left: 14%;
  top: 20px;
}

.menu__burger:before {
  top: 10px;
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.menu__burger:before,
.menu__burger:after {
  content: "";
  background-color: white;
  position: absolute;
  width: 35px;
  height: 5px;
  left: 14%;
}

.menu__burger:after {
  bottom: 10px;
}

.menu__burger_close {
  background-color: #606060;
  border-radius: 5px;
  top: 30px;
  right: 30px;
  display: block;
  width: 55px;
  height: 55px;
  margin: 0;
  position: fixed;
  z-index: 4;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.menu__burger_close:hover {
  background-color: rgba(96, 96, 96, 0.7);
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.menu__burger_close span {
  display: none;
}

.menu__burger_close:before {
  top: 26px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__burger_close:before,
.menu__burger_close:after {
  content: "";
  background-color: white;
  position: absolute;
  width: 50px;
  height: 4px;
  left: 5%;
  border-radius: 5px;
}

.menu__burger_close:after {
  bottom: 25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 900px) {
  .top__container.active .top__menu_container {
    display: block;
  }
}

@media (max-width: 1650px) {
  .top__container.active .top__title {
    font-size: 80px;
  }
  .top__container.active .top__menu_container ul li {
    font-size: 20px;
  }
  .top__submenu_container.active .top__submenu_title {
    font-size: 19px;
  }
}

@media (max-width: 1450px) {
  .top__container.active .top__title {
    font-size: 60px;
  }
  .top__container.active .top__menu_container ul li {
    font-size: 19px;
  }
  .top__submenu_container.active .top__submenu_title {
    font-size: 18px;
  }
}

@media (max-width: 1250px) {
  .top__container.active .top__title {
    font-size: 60px;
  }
  .top__container.active .top__menu_container ul li {
    font-size: 19px;
  }
  .top__submenu_container.active .top__submenu_title {
    font-size: 18px;
  }
  .top__submenu_container.active .top__submenu_item,
  .top__submenu_container.active .top__submenu_text {
    width: 250px;
    margin: 0 !important;
  }
}

@media (max-width: 1150px) {
  .top__container.active .top__title {
    display: none;
  }
  .top__container.active .top__body {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .top__container.active .top__menu_container ul li {
    font-size: 19px;
  }
  .top__submenu_container.active .top__submenu_title {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .top__container.active .top__title {
    display: none;
  }
  .top__container.active .top__body {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0;
  }
  .top__container.active .top__menu_container {
    position: absolute;
  }
  .top__container.active .top__menu_container li {
    margin: 0;
    padding: 10px 30px 10px 10px;
  }
  .top__submenu_container.active {
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 110px 40px 20px 40px;
  }
  .top__container.active .top__submenu_text {
    display: none;
  }
  .top__submenu_container.active .top__submenu_title {
    font-size: 18px;
  }
}

/*================================Главный блок===================================*/
.main__section {
  margin: -220px 0 0 0;
  position: relative;
  height: 1016px;
  z-index: 2;
}

@media (max-width: 1300px) {
  .main__section {
    height: 870px;
  }
}

@media (max-width: 600px) {
  .main__section {
    margin: -50px 0 0 0;
  }
}

@media (max-width: 517px) {
  .main__section {
    margin: -75px 0 0 0;
  }
}

@media (max-width: 495px) {
  .main__section {
    margin: -110px 0 0 0;
  }
}

@media (max-width: 470px) {
  .main__section {
    margin: -143px 0 0 0;
  }
}

@media (max-width: 430px) {
  .main__section {
    margin: -143px 0 0 0;
  }
}

.main__container {
  background: url("../assets/img/main_background2.png") 0 0 no-repeat;
  height: 120vh;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-position-x: center;
  background-size: 100% 1100px;
}

@media (max-width: 1300px) {
  .main__container {
    background-size: 100% 1025px;
  }
}

@media (max-width: 768px) {
  .main__container {
    height: 100%;
  }
}

@media (max-width: 600px) {
  .main__container {
    background: url("../assets/img/main_background3.png") 0 0 no-repeat;
  }
}

.main__social {
  background-color: #8c9699;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__social svg {
  width: 45px;
  height: 45px;
  fill: #ffffff;
  margin: 0 20px;
}

@media (max-width: 600px) {
  .main__social svg {
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 768px) {
  .main__social {
    display: none;
  }
}

.main__body {
  padding: 70px 20px 0 0;
  background-color: #ffffff;
  margin: 110px 220px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1300px) {
  .main__body {
    margin: 110px 0 0 0;
  }
}

@media (max-width: 768px) {
  .main__body {
    padding: 30px 0 0 0;
    margin: 30px 0 0 0;
  }
}

.main__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  border-top: 1px dashed #333;
  border-right: 3px solid #000;
  border-bottom: 1px dashed #333;
  margin: 0 200px 0 0;
}

@media (max-width: 1300px) {
  .main__left {
    margin: 0 120px 0 0;
  }
}

@media (max-width: 900px) {
  .main__left {
    margin: 0 50px 0 0;
  }
}

@media (max-width: 768px) {
  .main__left {
    display: none;
  }
}

.main__left_body {
  padding: 40px 70px 10px 100px;
}

@media (max-width: 900px) {
  .main__left_body {
    padding: 40px 70px 10px 50px;
  }
}

.main__left_item {
  width: 150px;
  margin: 0 0 35px 0;
}

.main__left_title {
  font-family: "MullerBold";
  font-size: 18px;
  color: #606060;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main__left_subtitle {
  margin: 0 0 45px 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: none;
}

.main__left_subtitle li {
  font-family: "Muller Light";
  font-size: 18px;
  color: #606060;
  margin: 10px 0;
  cursor: pointer;
  padding: 10px 0 10px 30px;
  width: 150px;
}

.main__left_subtitle li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main__left_active {
  background-color: #f1f2f4;
  width: 146.5% !important;
  position: relative;
}

.main__left_active:hover {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.main__left_active:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 100px;
  height: 39px;
  background-color: #f1f2f4;
}

.main__double_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 90px 0 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 600px) {
  .main__double_menu {
    margin: 50px 0 0 0;
  }
}

.main__double_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__double_menu ul li {
  margin: 0 30px;
  position: relative;
}

.main__double_menu ul li:last-child:after {
  display: none;
}

.main__double_menu ul li:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 80px;
  width: 10px;
  height: 10px;
  background-color: #001e4c;
}

.main__double_menu ul li a {
  font-family: "Muller Light";
  font-size: 20px;
  color: #606060;
}

@media (min-width: 768px) {
  .main__double_menu {
    display: none;
  }
}

.main__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.main__right_body {
  padding: 20px 130px 20px 0;
}

@media (max-width: 1300px) {
  .main__right_body {
    padding: 20px 50px 20px 0;
  }
}

@media (max-width: 768px) {
  .main__right_body {
    padding: 0;
  }
}

.main__right_text p {
  font-family: "Muller Light Italic";
  font-size: 18px;
  color: #606060;
  margin: 0 0 20px 0;
}

@media (max-width: 768px) {
  .main__right_text p {
    padding: 0 20px;
  }
}

.main__right_name {
  float: right;
}

.main__right_photo {
  height: 100%;
}

.main__right_photo img {
  width: 80%;
}

@media (max-width: 768px) {
  .main__right_photo img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 350px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .main__right_photo {
    margin: -50px 0 0 0;
  }
}

/*================================Нижний блок===================================*/
.footer__container {
  background-color: #001e4c;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 100px 40px 150px;
}

@media (max-width: 1300px) {
  .footer__body {
    padding: 150px 0 40px 0;
  }
}

@media (max-width: 900px) {
  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .footer__body {
    padding: 80px 0 20px 0;
  }
}

@media (max-width: 500px) {
  .footer__body {
    padding: 130px 0 20px 0;
  }
}

@media (max-width: 440px) {
  .footer__body {
    padding: 160px 0 20px 0;
  }
}

@media (max-width: 390px) {
  .footer__body {
    padding: 200px 0 20px 0;
  }
}

@media (max-width: 370px) {
  .footer__body {
    padding: 250px 0 20px 0;
  }
}

.footer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 20px 0 60px;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

@media (max-width: 1300px) {
  .footer__column {
    padding: 0 10px 0 30px;
  }
}

@media (max-width: 394px) {
  .footer__column:first-child {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 900px) {
  .footer__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0 0 0;
  }
}

@media (max-width: 600px) {
  .footer__column:last-child {
    display: none;
  }
}

.footer__column:last-child {
  border: none;
}

.footer__column p {
  color: #ffffff;
  font-family: "MullerBold";
  font-size: 23px;
  margin: 0 0 50px 0;
}

@media (max-width: 600px) {
  .footer__column p {
    font-size: 19px;
    margin: 0 0 30px 0;
  }
}

.footer__column.second p {
  font-family: "Muller Light";
}

@media (max-width: 900px) {
  .footer__column.second {
    border-right: none;
  }
}

.footer__logo {
  margin: 100px 0 0 0;
}

@media (max-width: 600px) {
  .footer__logo {
    margin: 50px 0 0 0;
  }
}

.footer__logo img {
  width: 80%;
}

.footer__search {
  position: relative;
}

.footer__search input {
  border: 5px solid #606060;
  height: 50px;
  width: 90%;
  color: #000;
  font-family: "MullerBold";
  font-size: 23px;
  padding: 0 0 0 20px;
}

.footer__search input:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.footer__search:after {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  background-color: #606060;
  width: 50px;
  height: 50px;
}

@media (max-width: 900px) {
  .footer__search:after {
    left: 84%;
  }
}

.footer__search svg {
  position: absolute;
  top: 20%;
  left: 82%;
  fill: #ffffff;
  z-index: 1;
  width: 27px;
  height: 27px;
}

@media (max-width: 900px) {
  .footer__search svg {
    left: 85.3%;
  }
}

.footer__menu {
  color: #ffffff;
  font-family: "MullerBold";
  font-size: 23px;
}

@media (max-width: 900px) {
  .footer__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__menu ul li {
  margin: 30px 0 0 0;
  padding: 0 0 0 10px;
}

.footer__menu ul li a {
  color: #ffffff;
}
